{% extends 'base.html' %}

{% load static %}

{% block body %}

    <c-accounts-base-page>

    <div class="flex justify-end w-full p-4">
        <div class="flex gap-x-4 items-center">
            <span class="text-slate-700">Não possui conta?</span>
            <a href="{% url 'signup' %}" type="submit" class="light-button">Cadastre-se</a>
        </div>
    </div>

    <div class="w-full md:w-3/4 max-w-md">
        <div class="flex flex-col gap-y-6">

            <img class="sm:hidden bg-secondary-950"
                 src="{% static 'general/img/logo_banner.png' %}">

            <div>
                <h2 class="text-2xl font-bold text-center">Login</h2>
                <p class="text-slate-500 text-center">Entre em sua conta</p>
            </div>

            <form class="flex flex-col px-4 md:px-0"
                  hx-post="{% url 'signin' %}?{{ request.GET.urlencode }}"
                  hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                  hx-target="#form">

                <div id="form">

                    {% include "components/form.html" %}

                </div>
                <div class="flex justify-end mb-4">
                    <a href="" class="text-slate-500 underline">Esqueceu sua senha?</a>
                </div>
                <button type="submit" class="primary-button w-full">Entrar</button>

            </form>
        </div>
    </div>

    </c-accounts-base-page>

{% endblock body %}
