<div class="flex flex-col gap-4 p-4 border border-red-200 bg-red-50 rounded-lg">
    <div class="flex justify-between">
        <div class="text-red-400 flex gap-4">
            <c-svg.cellphone />
            <p class="font-medium">{{ chip.name }}</p>
        </div>
        <div class="flex align-center gap-2">
            <button onclick="toggleCard('{{ chip.id }}')">
                <c-svg.eye />
            </button>
            <button>
                <c-svg.copy />
            </button>
        </div>
    </div>

    <div id="card-{{ chip.id }}" class="hidden">
        <c-dashboard.phone-infos :chip="chip" />
    </div>
</div>
