{% load utils %}

<div class="flex flex-col rounded-lg border-slate-200 border font-medium overflow-hidden">

    <div class="flex flex-col gap-4 p-4">
        <div class="flex gap-2">
            <svg width="24"
                 height="24"
                 viewBox="0 0 24 24"
                 fill="none"
                 xmlns="http://www.w3.org/2000/svg">
                <path d="M12 18H12.01M7 2H17C18.1046 2 19 2.89543 19 4V20C19 21.1046 18.1046 22 17 22H7C5.89543 22 5 21.1046 5 20V4C5 2.89543 5.89543 2 7 2Z" stroke="#0F172A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            {{ chip.name }}
        </div>

        <div>
            <p class="text-slate-500">Número</p>
            <div class="flex justify-between align-center">
                <p class="text-slate-900">{{ chip.formated_number }}</p>
                <button onclick="navigator.clipboard.writeText('{{ chip.formated_number }}')">
                    <c-svg.copy />
                </button>
            </div>
        </div>

        <div>
            <p class="text-slate-500">Status</p>
            <div class="border inline-flex gap-2 items-center justify-center rounded-full px-2.5 py-0.5 border-indigo-400 text-indigo-400">
                <svg width="12"
                     height="12"
                     viewBox="0 0 12 12"
                     fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_5797_6497)">
                    <path d="M6 6V3.5M8 4.5C8.27857 4.87142 8.4482 5.31308 8.4899 5.77549C8.53159 6.23789 8.4437 6.70277 8.23607 7.11803C8.02844 7.5333 7.70927 7.88254 7.31433 8.12663C6.91939 8.37071 6.46428 8.5 6 8.5C5.53572 8.5 5.08061 8.37071 4.68567 8.12663C4.29073 7.88254 3.97156 7.5333 3.76393 7.11803C3.5563 6.70277 3.46841 6.23789 3.5101 5.77549C3.5518 5.31308 3.72143 4.87142 4 4.5M11 6C11 8.76142 8.76142 11 6 11C3.23858 11 1 8.76142 1 6C1 3.23858 3.23858 1 6 1C8.76142 1 11 3.23858 11 6Z" stroke="currentColor"stroke-linecap="round" stroke-linejoin="round" />
                    </g>
                    <defs>
                    <clipPath id="clip0_5797_6497">
                    <rect width="12" height="12" fill="white" />
                    </clipPath>
                    </defs>
                </svg>

                <span class="text-xs font-semibold">Em espera</span>

            </div>
        </div>

    </div>

    <button class="flex gap-2 py-1.5 px-4 items-center justify-center text-white bg-indigo-600 h-12"
            onclick="notStartedChipModal{{ chip.id }}.showModal()">
        <svg width="21"
             height="20"
             viewBox="0 0 21 20"
             fill="none"
             xmlns="http://www.w3.org/2000/svg">
            <path d="M5.5 2.5L17.1667 10L5.5 17.5V2.5Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        Iniciar
    </button>
</div>

<dialog id="notStartedChipModal{{ chip.id }}" class="modal">
    <div class="modal-box grid gap-y-8">
        <button onclick="notStartedChipModal{{ chip.id }}.close()"
                class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>

        <div>
            <h1 class="text-xl font-bold">Novo número</h1>
            <p class="text-slate-500">Digite os dados essenciais para prosseguir</p>
        </div>

        <form class="grid gap-y-8"
              hx-post="{% url 'start_heating' chip.pk %}"
              hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
              hx-target="#form{{ chip.id }}">

            <div id="form{{ chip.id }}">

                {% include "components/form.html" with form=start_heating_form %}

            </div>

            <div class="flex justify-end gap-4">
                <button type="button"
                        class="light-button"
                        onclick="notStartedChipModal{{ chip.id }}.close()">Cancelar</button>
                <button type="submit" class="primary-button">Iniciar aquecimento</button>
            </div>
        </form>
    </div>
</dialog>
