{% load static %}

<!DOCTYPE html>
<html lang="pt-br" data-theme="light">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Warm Zap</title>
        <link rel="icon"
              type="image/x-icon"
              href="{% static 'general/img/favicon.ico' %}">

        <link rel="stylesheet" href="{% static 'general/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'general/css/sidebar.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css"
              rel="stylesheet"
              type="text/css" />

        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://unpkg.com/htmx.org@2.0.3"
                integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
                crossorigin="anonymous"></script>

        {% block head %}

        {% endblock head %}

    </head>

    <body class=" 
        {% if sidebar_collapsed %}collapsed{% endif %}
         min-h-screen flex flex-col">

        <c-sidebar />

        <main class="p-4 md:p-10 w-full">

            {% block body %}

            {% endblock body %}

        </main>

        <footer class="bg-primary-400 mt-auto px-4 py-6 flex justify-center items-center gap-4">
            <img src="{% static 'general/img/footer_logo.png' %}" class="h-12">
            <p class="text-white font-bold">O melhor software de aquecimento de chips do mercado</p>
        </footer>

        <script src="{% static 'general/js/sidebar.js' %}"></script>

    </body>

</html>
