{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Warm Zap</title>

        <link rel="stylesheet" href="{% static 'general/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'general/css/sidebar.css' %}">

        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://unpkg.com/htmx.org@2.0.2"
                integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
                crossorigin="anonymous"></script>

        {% block head %}

        {% endblock head %}

    </head>

    <body>

        <c-sidebar />

        {% block body %}

        {% endblock body %}

        <script src="{% static 'general/js/sidebar.js' %}"></script>

    </body>

</html>
