<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login QR Code</title>
    </head>
    <body>
        <h1>Escaneie o QR Code</h1>
        <img id="qrcode" src="" alt="QR Code" />
        <div id="status"></div>

        <script>
            qrcode_img = document.getElementById('qrcode')
            status_div = document.getElementById('status')

            function carregar_qrcode() {
                fetch('/generate-qrcode/') // URL do seu endpoint de streaming
                    .then(response => {
                        const reader = response.body.getReader();
                        const decoder = new TextDecoder('utf-8');

                        // Limpa o QR code e o status antes de carregar novos dados
                        qrcode_img.src = '';
                        status_div.innerText = '';

                        // Função para processar os dados conforme eles chegam
                        function process({
                            done,
                            value
                        }) {
                            if (done) return; // Se o stream estiver finalizado, interrompe

                            // Decodifica os dados recebidos (base64 do QR code ou status de login)
                            const data = decoder.decode(value, {
                                stream: true
                            });
                            console.log(data)
                            // Verifica se os dados recebidos são a imagem do QR code ou o status
                            if (data.startsWith("data:image/png;base64,")) {
                                // Atualiza o QR code na imagem
                                qrcode_img.src = data.trim();
                            } else {
                                // Atualiza o status de login
                                status_div.innerText += data.trim();
                            }

                            // Continua lendo os próximos dados
                            return reader.read().then(process);
                        }

                        // Inicia a leitura dos dados do stream
                        return reader.read().then(process);
                    })
                    .catch(error => {
                        status_div.innerText = "Erro ao conectar com o servidor.";
                    });
            }
            carregar_qrcode()
        </script>
    </body>
</html>
